/* Nav Bar Fix */
body {
    padding-top: 45px;
  }
  
.col-sm-6{
  height:700px;
}

#about{
  background-color: rgb(255, 188, 54);
}

#aboutpic{
  background-image: url("http://pic.1fotonin.com/data/wallpapers/110/WDF_1531340.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(20%);
  height: 700px;
}



/* Add an orange color to all icons and set the font-size */
.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}
.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
